body{
    background:white;
}
.nav{
    overflow: hidden;
    background-color: rgb(41, 41, 240);
}
.nav a
{
    text-decoration: none;
    float:right;
    display: block;
    padding: 15px;
    text-align: center;
    margin: 0px;
    font-size: 18px;
    color: white;
}

.nav a:hover
{
    background-color: white;
    color: rgb(41, 41, 240);;
}
