body{
    margin: 0;
    background-image: url('img_cg.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    backdrop-filter: blur(1px);
}
#right1
{
    float: left;
    width: 50%;
    height: 700px;
}
#left1{
    float: right;
    width: 50%;
    text-align: center;
    margin-top: 150px;
    color: white;
}
#left1 p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    font-weight: bold;
}
.form1
{
  margin: 0 auto;
  width: 400px;
  height: 470px;
  text-align: center;
  margin-top: 100px;
  position:relative;
  border-radius: 10px;
  background-color: white;
  opacity: .7;
  padding: 5px;
}
.form :hover{
    opacity: 1;
}
input
{
    width:240px;
    background-color:none;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    border-color:#0092e0ff;
    padding:12px 20px;
    background: inherit;
    cursor:pointer;
}
input:focus{
    outline: none;
}
button{
    width:280px;
    background-color:none;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    background-color: #0092e0ff;
    color: white;
    font-weight: bold;
    cursor:pointer;
}
label{
    color: black;
    font-size: 20px;
    font-family: 'Fira Sans Condensed', 'Poppins' , sans-serif;
}

#welcome{
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#forgot {
    margin-left: 150px;
    text-decoration: none;
    color:#0092e0ff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span a{
    text-decoration: none;
    color:#0092e0ff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
